@import "components/variables";
@import "vendors/normalize";
@import "components/typography";
@import "components/button";
@import "components/form";
@import "components/mixin";
@import "components/table";
@import "components/card";
@import "components/form-list";

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  background-color: $background-color;
  padding-bottom: 100px;
}

.container {
  margin: 0 15px;
  @include bp(medium) {
    max-width: 900px;
    margin: 0 auto;
  }
  @include bp(huge) {
    max-width: 1140px;
  }
}

// HELPERS
.d-flex {
  display: flex;
}

.t-center {
  text-align: center;
}

.tc-accent-yellow {
  color: $accent-yellow-color;
}
.tt-uppercase {
  text-transform: uppercase;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.file__name-icon {
  margin-right: 15px;
  font-size: 20px;
  display: inline-block;
}

.additional-info {
  max-width: 480px;
  display: inline-block;
  padding: 30px 30px 30px 70px;
  border: 1px solid $border-color;
  border-radius: 5px;
  margin-top: 90px;
}
