@import "vendors/normalize";
@import "components/typography";
@import "components/button";
@import "components/form";
@import "components/mixin";
@import "components/table";
@import "components/card";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #edeef4;
}

.container {
  margin: 0 15px;
  @include bp(medium) {
    max-width: 900px;
    margin: 0 auto;
  }
  @include bp(huge) {
    max-width: 1200px;
  }
}

// HELPERS
.d-flex {
  display: flex;
}

.t-center {
  text-align: center;
}

.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

.form-list {
  counter-reset: number-counter;
  list-style: none;
  padding-left: 0;
  margin: 100px 0;
}

.form-list__item {
  position: relative;
  counter-increment: number-counter;
  &:after {
    content: counter(number-counter);
    position: absolute;
    left: -75px;
    top: -10px;
    border: 1px solid #9299ab;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
  }
  & + & {
    margin-top: 100px;
  }
}

