.card {
  border-radius: 5px;
  border: 1px solid $border-color;
  background-color: $white;
}

.card__header {
  display: flex;
  border-bottom: 1px solid $border-color;
}

.header-card__info {
  display: flex;
  padding: 30px 30px 25px 75px;
}

.header-card__details {
  .table {
    margin-top: 15px;
  }
}

.header-card__action {
  .btn + .btn {
    margin-top: 10px;
  }
}

.header-card__help {
  padding: 25px 30px 25px 70px;
  border-left: 1px solid $border-color;
  min-width: 350px;
}

.card__content {
  padding: 0 100px 0 130px;
}

.card__footer {
  padding: 0 100px 70px 130px;
}
