.card {
  border-radius: 8px;
  border: 1px solid #cad1e2;
  background-color: #fff;
}

.card__header {
  display: flex;
  border-bottom: 1px solid #cad1e2;
}

.header-card__info {
  display: flex;
  padding: 20px 30px 20px 70px;
}

.header-card__details {
  .table {
    margin-top: 30px;
  }
}

.header-card__action {
  .btn + .btn {
    margin-top: 10px;
  }
}

.header-card__help {
  padding: 20px 30px 20px 70px;
  border-left: 1px solid #cad1e2;
  min-width: 250px;
}
  
.card__content {
  padding: 0 130px;
}