.input-row {
  display: flex;
  & + & {
    margin-top: 35px;
  }
  & > * + * {
    margin-left: 25px;
  }
}

.input-row--3-col {
  margin: 0 -15px;
  & > * {
    width: 33%;
    margin: 0 15px;
  }
}

.input-row__label {
  text-transform: uppercase;
  font-size: 11px;
  color: #a5acc5;
  width: 60px;
  text-align: right;
  line-height: 50px;
  padding-right: 20px;
}

.input-col {
  display: flex;
  flex-direction: column;
  & > * + * {
    margin-top: 25px;
  }
}

.radio--huge {
  .radio__label {
    padding-top: 25px;
    text-align: center;
    width: 100%;
    min-height: 200px;
  }
  .radio__name {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
  }
}

.radio--medium {
  .radio__label {
    width: 215px;
    min-height: 100px;
  }
  .radio__img {
    max-width: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.radio__input {
  &:checked {
    & + .radio__label {
      border: 5px solid #6ea9df;
      box-shadow: none;
      &:after {
        content: "\f00c";
        font-family: $font-awesome;
        position: absolute;
        right: -12px;
        top: -12px;
        font-size: 12px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
        background-color: #6ea9df;
        color: #fff;
        font-weight: 900;
      }
    }
  }
}

.radio__label {
  position: relative;
  display: block;
  background-color: #f7f7fa;
  border: 5px solid transparent;
  box-shadow: 0 0 0 1px #d8dae1;
  font-size: 14px;
  color: #9199b9;
  cursor: pointer;
  border-radius: 3px;
}

.upload-file {
  & + .files {
    margin-top: 35px;
  }
}

.files {
  padding: 30px;
  border: 1px solid #e6e9ee;
  border-radius: 3px;
}

.select { 
  width: 100%;
  height: 100%;
  appearance: none;
  position: absolute;
  left: 0;
  right: 0;
  border: none;
  background: none;
  color: #9199b8;
  padding-left: 50px;
}

.select-wrapper {
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-size: 17px;
  border: 1px solid #d8d9e1;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  background-color: #f7f7fa;
  &:after {
    content: '';
    height: 48px;
    width: 1px;
    background-color: #d8d9e1;
    position: absolute;
    right: 50px;
    top: 0;
  }
  &:before {
    content: '';
    border: 6px solid;
    border-color: #d8d9e1 transparent transparent transparent;
    position: absolute;
    right: 20px;
    top: 22px;
  }
}

.select-wrapper--with-delete {
  margin-right: 20px;
  & > .link {
    position: absolute;
    right: -20px;
    top: 20px;
  }
}

.range {
  position: relative;
  width: 400px;
}

.range__input {
  appearance: none;
  border: 1px solid white;
  width: 400px;
  position: relative;
  background-color: transparent;
  &::-webkit-slider-runnable-track {
  // &::-moz-range-track {
    width: 400px;
    height: 10px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
  }
  &::-webkit-slider-thumb {
  // &::-moz-range-thumb {
    appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #f2bf7d;
    margin-top: -5px;
  }
//   &::-ms-track {
//     width: 400px;
//     height: 10px;
//     background: transparent;
//     border-color: transparent;
//     border-width: 6px 0;
//     color: transparent;
//   }
//   &::-ms-fill-lower {
//     background: #eff1f5;
//     border-radius: 10px;
//   }
//   &::-ms-fill-upper {
//     background: #eff1f5;
//     border-radius: 10px;
//   }
//   &::-ms-thumb {
//     border: none;
//     height: 20px;
//     width: 20px;
//     border-radius: 50%;
//     background: #f2bf7d;
//   }
}

.range__labels {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    top: -25px;
    background-color: #eff1f5;
  }
}

.range__label {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d6d9e2;
    top: -25px;
    left: 50%;
    margin-left: -5px;
  }
  &:first-child {
    left: -30px;
  }
  &:last-child {
    right: -30px;
  }
}

.form-group {
  // width: 300px;
}

.form-label {
  font-size: 15px;
  text-transform: uppercase;
  color: #b4abc5;
  display: block;
  margin-bottom: 10px;
}

.form-control {
  width: 100%;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  color: #e1b4a3;
  padding-left: 20px;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid #d8dae0;
}

.form-control--tiny {
  width: 100px;
}
.form-control--small {
  width: 170px;
}
.form-control--medium {
  width: 300px;
}
.form-control--huge {
  width: 380px;
}