.table {
  table-layout: fixed;
  width: 100%;
  font-size: 12px;
}

.table__header {
  text-align: left;
  color: #6e7790;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.table__cell {
  padding: 5px 0;
  font-size: 11px;
  color: #a6acc6;
}